<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{noticiaDet.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{noticiaDet.descripcion}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{noticiaDet.contenido}}
      <p><small><strong>Autor: </strong>{{noticiaDet.autor.apellido}} {{noticiaDet.autor.nombre}}</small></p>
      <p><small><strong>Fecha: </strong>{{noticiaDet.fecha | date}}</small></p>
    </ion-card-content>
    <ion-button color="danger" expand="block" fill="outline" (click)="Eliminar(noticiaDet.noticiaID)">Eliminar</ion-button>
  </ion-card>

</ion-content>
